<!DOCTYPE html>
<html>
  <head>
    <title>About MEAN Stack Jobs</title>
    
    <meta charset="UTF-8">
    <meta name="description" content="MEAN Stack and other job listings by collaborare.net.">
    <meta name="keywords" content="jobs, careers, recruiting, JavaScript, MEANStack, mongodb, expressjs, angularjs, nodejs, javascript">
    <meta name="author" content="Monico Moreno, Collaborare Dot Net, LLC">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   
    <script src="/javascripts/googleAnalytics.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class='container'>
  <p>
      <a href="/">home</a>
  </p>
  <article>
      <h1>About MEAN Stack Jobs</h1>
      <section>
          <p>
              Circa 2014, I started the <a href='http://www.meetup.com/Austin-MEAN-Stack-Development/' target='_blank'>Austin MEAN Stack Dev meetup and user group</a>, within which I was able to meet lots of great people, including developers, hiring managers, and recruiters alike.  It turned out that some of the developers were not only there to learn about the MEAN Stack, they were also there looking to network in hopes of landing their next development opportunity, whether using the MEAN Stack, .NET, LAMP Stack, or other technologies!  
          </p>

          <p>
              Consequently, recruiters and hiring managers started asking me if they could spread the word about their open positions through my meetup/user group...and so, I did.  Lo and behold, <span class='hi-lite'>we landed some nice opportunities ending in direct hires</span>.  Cool!
          </p>

          <p>
              Although something cool was happening, I could not put my finger on it.  Finally, I discovered a little niche that was the root of these successful placements via my network and site.
          </p>
          <p>

              So, now here we are, and I put up <span class='hi-lite'>this web site to facilitate this vantage point</span>.  I hope you find it useful.  As mentioned above, although this site is biased toward the MEAN Stack, I include other stacks and technologies in here as well!
          </p>

          <p>
            PS: It's a forgone conclusion that any web site is a work in progress, but there are still levels and phases, and this site is at at phase -100.  As such, please bear with me as I update and enhance it.  Alas, the diamond in this rough is not the web site ;-)  
          </p>

          <p>
            --Monico
            <a style='display:block;' href='http://collaborare.net' target='_blank'>Collaborare Dot Net, LLC</a>
          </p>
      </section>
  </article>    
  </body>
</html>
