<% include header.ejs %>
<!--start about-->
  <div class="container" id="About">
    <h2>About MEAN Stack Jobs</h2>
    <p>
          Circa 2014, I started the <a href='http://www.meetup.com/Austin-MEAN-Stack-Development/' target='_blank'>Austin MEAN Stack Dev meetup and user group</a>, within which I was able to meet lots of great people, including developers, hiring managers, and recruiters alike.  It turned out that some of the developers were not only there to learn about the MEAN Stack, they were also there looking to network in hopes of landing their next development opportunity, whether using the MEAN Stack, .NET, LAMP Stack, or other technologies!
         </p>
         <p>
              Consequently, recruiters and hiring managers started asking me if they could spread the word about their open positions through my meetup/user group...and so, I did.  Lo and behold, <mark>we landed some nice opportunities ending in direct hires</mark>.  Cool!
         </p>
         <p>
              Although something cool was happening, I could not put my finger on it.  Finally, I discovered a little niche that was the root of these successful placements via my network and site.
         </p>
          <p>
              So, now here we are, and I put up <mark>this web site to facilitate this vantage point</mark>.  I hope you find it useful.  As mentioned above, although this site is biased toward the MEAN Stack, I include other stacks and technologies in here as well!
          </p>
          <p>
            PS: It's a forgone conclusion that any web site is a work in progress, but there are still levels and phases, and this site is at at phase -100.  As such, please bear with me as I update and enhance it.  Alas, the diamond in this rough is not the web site ;-)
         </p>
         <h2>Recruiters &amp; Hiring Companies</h2>
         <h3>How Do I Post?</h3>
         <p>Simple!  Contact me at: <a href='mailto:jobs@meanstack.org'>jobs@meanstack.org</a>.  FYI: I pride myself on expediting postings!  This is, however, a two-way door.  :-)</p>
         <h3><span style="text-decoration: underline;">Why</span> Should I Post?</h3>
         <p>
            Answer: three reasons!
         </p>
         <p>
            Reason one: <mark>Veteran Expertise!</mark>  I am a <a href="http://resume.collaborare.net" target="_blank">well-versed developer with over 22 years of experience</a>.  I have held senior/leadership roles; so, I know what it takes to be an integral part of web dev team.   As such, I offer an initial tech screen of potential candidates to vet them with respect to:
            <ul>
               <li>technical skills
                  <ul>
                     <li>javascript</li>
                     <li>node/express</li>
                     <li>angular</li>
                     <li>html, css</li>
                     <li>dev workflow practices</li>
                  </ul>
               </li>
               <li>
                  soft skills
                  <ul>
                     <li>team collaboration</li>
                     <li>verbal/written communication</li>
                     <li>conflict management/resolution</li>
                  </ul>
               </li>
            </ul>
         </p>
         <p>
            Reason two: <mark>Vast Outreach Capabilities!</mark> I have a large network of current and former colleagues as well as members of our development community that are invariably looking for new opportunities.  My network includes, but is not limited to, my <a href="http://www.linkedin.com/in/monico1028/" target="_blank">LinkedIn network</a> as well as the <a href="http://www.meetup.com/Austin-MEAN-Stack-Development/" target="_blank">Austin MEAN Stack Dev user group</a> that I founded and organize.
         </p>
         <p>
            Reason three: <mark>No outrageous fees!</mark>  This jobs site is currently just a pet project of mine.  So, all I charge at this time is, well, nothing.  That being said, however, I always graciously accept any referral bonuses and/or donations to my <a href="http://collaborare.net/" target="_blank">LLC</a> coffers.
         </p>
          <p>
            --Monico
            <a style='display:block;' href='http://collaborare.net' target='_blank'>Collaborare Dot Net, LLC</a>
         </p>
          <br>
  </div>
<!--end about-->
<% include footer.ejs %>
