  <footer>
    <p>Copyright &copy; 2015, <a href='http://collaborare.net' target='_blank'>Collaborare Dot Net, LLC</a></p>
    <p>Built with love by nice, <a href='http://en.wikipedia.org/wiki/MEAN' target='_blank'>MEAN</a> people using: 
      <a href='https://www.mongodb.org/' target='_blank'>MongoDb</a>, 
      <a href='http://expressjs.com/' target='_blank'>ExpressJs</a>, 
      <a href='https://angularjs.org/' target='_blank'>AngularJs</a>, 
      <a href='https://nodejs.org/' target='_blank'>NodeJs!</a><p>
  </footer>
  </body>
</html>
