  <!-- start footer -->
  <footer class="footer">
    <div>
       <p class="container">Built with &#9829; by nice, <a href='http://en.wikipedia.org/wiki/MEAN_(software_bundle)' target='_blank'>MEAN</a> people using: 
          <a href='https://www.mongodb.org/' target='_blank' style='text-decoration:line-through' title='Coming soon in future version!'>MongoDb</a>, 
            <a href='http://expressjs.com/' target='_blank'>ExpressJs</a>, 
            <a href='https://angularjs.org/' target='_blank'>AngularJs</a>, 
            <a href='https://nodejs.org/' target='_blank'>NodeJs</a> ! <br /><br /> Questions?  Please feel free to contact us at: <a href='mailto:jobs@meanstack.org'>jobs@meanstack.org</a>
       </p><br />

         <div class="container">
              Copyright &copy; 2015 <a href='http://collaborare.net' target='_blank'>Collaborare Dot Net, LLC</a>
              
          </div>
          <div class="container">
          Site updated on: June 11, 2015
          </div>

    </div>
  </footer>
  
      <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src='/javascripts/angular.js'></script>
    <script src='/javascripts/angular-route.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/index.bs.js"></script>
  <!-- end footer -->
  </body>
</html>
