<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="UTF-8">
    <meta name="description" content="MEAN Stack and other job listings by collaborare.net.">
    <meta name="keywords" content="jobs, careers, recruiting, JavaScript, MEANStack, mongodb, expressjs, angularjs, nodejs, javascript">
    <meta name="author" content="Monico Moreno, Collaborare Dot Net, LLC">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="/javascripts/googleAnalytics.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/resources/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <p>
      <a href="/about">about</a>
  </p>
  <body class='container'>
    <h1>MEAN Stack Job Listings</h1>
    <p>More postings coming soon!</p>
  </body>
</html>
