<% include header.ejs %>
    <script src='/javascripts/index.ng.js'></script>

    <p>
        <a href="/about">about</a>
    </p>
    <h2 class="banner">MEAN Stack Job Listings</h2>


    <!-- =============  MAIN Ng Controller =================== -->
    <div class="srch-reslts" data-ng-app="indexNgApp" data-ng-controller='ListingsController as controller' 
        data-ng-init='controller.listings=<%= listingsData %>'>

      <h4 data-ng-hide='{{controller.listings.length >= 0}}' class="listingTitle">No Listings at this time.  Please check later.</h4>

      <article class='opp-smry-cntnr listingAlternating' data-ng-repeat="listing in controller.listings">
        <section class='opp-actions-cntnr' >

          <!-- cdntodo: convert this anchor into a custom ng directive --> 

            <button class="btnPursue" >
             <a href='mailto:{{controller.emailAddr}}?subject=Pursuing%20Job:{{listing.jobId}},%20{{listing.jobTitle}}&amp;body=To%20Whom%20It%20May%20Concern:%0a%0d%0a%0dI%20am%20interested%20in%20pursuing%20the, "{{listing.jobTitle}}",%20opportunity%20listed%20on%20your%20web%20site!%20%20Please%20contact%20me%20at' >
            PURSUE</a>
            </button>  


          <p class="postText">ID: {{listing.jobId}}</p>
          <p class="postText">Date Posted: {{listing.postingDate | date:'MM-dd-yyyy' }}</p>
        </section>
        <section class='opp-desc-cntnr' >
            <h4 class='opptitle'><span>&#8658;</span>{{ listing.jobTitle }}<span>&#8656;</span></h4>
            <p><label>Level:</label> {{listing.level}}, <label>Opp Type:</label> {{listing.hireType}}</p>

            <label>Description:</label><p class='opp-desc'>{{ listing.briefDescr }}</p>

            <!-- prefer top 5: skills, top 5 tools -->
            <label>Skills/Tools:</label>
            <div>
              <ul class='skills-lst'>
                  <li data-ng-repeat='skill in listing.skills'>{{skill}}</li>
              </ul>
              <ul class='tools-lst'>
                  <li data-ng-repeat='tool in listing.tools'>{{tool}}</li>
              </ul>
            </div>
            <div style='clear:both;'></div>

            <label title='Please note that numbers could change.'>Team Structure/Expertise<sup title='Please note that numbers could change.'>(*)</sup>:</label><p>{{listing.teamStructureExpertise}}</p>
            <label>Project Workflow:</label>
            <ul>
                <li data-ng-repeat='step in listing.projectWorkflow'>{{step}}</li>
            </ul>

            <p>
              <label>Notes:</label>{{listing.notes}}
            </p>
            <!-- details, tbd -->
            <!-- <a href='#'>More Details...</a> -->

      </section>
      </article>
      <div style='clear:both;'></div>
    </div>

<% include footer.ejs %>
