<% include header.ejs %>
    <script src='/javascripts/index.ng.js'></script>

    <p>
        <a href="/about">about</a>
    </p>
    <h2>MEAN Stack Job Listings</h2>
    <p>More listings coming soon!</p>

    <div class="srch-reslts" data-ng-app="indexNgApp" data-ng-controller='ListingsController as controller'>
      <h4 data-ng-hide='{{controller.listings.length <= 0}}'>Current Listings:</h4>

      <article class='opp-smry-cntnr' data-ng-repeat="listing in controller.listings">
        <section class='opp-actions-cntnr'>
          <a href='mailto:cdnadmin@collaborare.net?subject=Pursuit%20of%20Job:{{listing.jobId}}&body={{controller.emailBody}}' 
              >PURSUE THIS OPP</a>
          <p>ID: {{listing.jobId}}</p>
          <p>Date Posted: {{listing.postingDate | date:'mm-dd-yyyy' }}</p>
        </section>
        <section class='opp-desc-cntnr'>
            <h4 class='opptitle'><span>&#8658;</span>{{ listing.jobTitle }}<span>&#8656;</span></h4>

            <label>Description:</label><p class='opp-desc'>{{ listing.briefDescr }}</p>

            <!-- prefer top 5: skills, top 5 tools -->
            <label>Skills/Tools:</label>
            <div style="width:65%;">
              <ul style='float:left;'>
                  <li data-ng-repeat='skill in listing.skills'>{{skill}}</li>
              </ul>
              <ul style='float:right;'>
                  <li data-ng-repeat='tool in listing.tools'>{{tool}}</li>
              </ul>
            </div>
            <div style='clear:both;'></div>

            <label>Team Structure/Expertise:</label><p>{{listing.teamStructureExpertise}}</p>
            <label>Project Workflow:</label>
            <ul>
                <li data-ng-repeat='step in listing.projectWorkflow'>{{step}}</li>
            </ul>
            <!-- details, tbd -->
            <!-- <a href='#'>More Details...</a> -->

      </section>
      </article>
      <div style='clear:both;'></div>
    </div>

<% include footer.ejs %>
