<% include header.ejs %>

<style>
/* part of solution to avoiding flicker when ng is loading */
.ng-cloak{
	display:none;
}
</style>

<div class="content">
<!--start job listings-->
	<div class="container" data-ng-app="indexNgApp" data-ng-controller='ListingsController as controller' 
        data-ng-init='controller.listings=<%= listingsData %>'>	

    <p data-ng-bind="">Loading...</p>

  	<h4 data-ng-hide='{{controller.listings.length > 0}}' class="listingTitle ng-cloak">No Listings at this time.  Please check later.</h4>

  	<article class='opp-smry-cntnr listingAlternating ng-cloak' data-ng-repeat="listing in controller.listings | filter:listing.displayFlag !== true">
			<div id="{{listing.jobId}}" class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="#{{listing.jobId}}-panel" data-toggle="collapse" data-parents="panel-1">{{ listing.jobTitle }} 
							<span class="parendJobId">({{listing.jobId}})</span>
						</a>
						<button type="button"  id="more" class="btn btn-primary pull-right btn-xs" data-toggle="collapse" data-target="#{{listing.jobId}}-panel">
							<span class="toggle-icon glyphicon glyphicon-chevron-down"></span>
						</button>
					</h3>
				</div>
				<!--TODO: add "in" class to expand by default-->
				<div id="{{listing.jobId}}-panel" class="panel-collapse collapse">
					<div class="panel-body">
				<!--start job description-->
						<div class="row">
							<div class="col-md-2 col-md-push-10">
								<div class="text-left">
									<!--start Pursue button-->
						            <!-- cdntodo: convert this anchor into a custom ng directive --> 
						            <div class="btn btn-success btn-lg" >
						             	<a href='mailto:{{controller.emailAddr}}?subject=Pursuing%20Job:{{listing.jobId}},%20{{listing.jobTitle}}&amp;body=To%20Whom%20It%20May%20Concern:%0a%0d%0a%0dI%20am%20interested%20in%20pursuing%20the, "{{listing.jobTitle}}",%20opportunity%20listed%20on%20your%20web%20site!%20%20Please%20contact%20me%20at' >
						            	PURSUE</a>
						            </div>
						            <br><br>
						            <p class="">ID: {{listing.jobId}}</p>
	      							<p class="">Date Posted: {{listing.postingDate | date:'MM-dd-yyyy' }}</p>
								</div>
							</div>
							<div class="col-md-10 col-md-pull-2">
								<div class="well">
									<div class="form-inline">
										<div class="form-group" data-ng-hide="{{listing.level === null || listing.level === undefined}}">
											<label>Level:</label> {{listing.level}}&nbsp;&nbsp;&nbsp;
										</div>
										<div class="form-group" data-ng-hide="{{listing.hireType === null || listing.hireType === undefined}}">
											<label>Opp Type:</label> {{listing.hireType}}
										</div>
									</div>
									<div class="form-inline">
										<div class="form-group" data-ng-hide="{{listing.compensationRange === null || listing.compensationRange === undefined}}">
											<label>Salary:</label>&nbsp;&nbsp;<span data-ng-bind="listing.compensationRange"></span>
										</div>
										<div class="form-group" data-ng-hide="{{listing.benefitsGeneral === null || listing.benefitsGeneral === undefined}}">
											<label>Benefits:</label>&nbsp;&nbsp;<span data-ng-bind="listing.benefitsGeneral"></span>
										</div>
									</div>
									<div>
										<div class="form-group">
					            <label>Description:</label>
					            <p class='opp-desc'>{{ listing.briefDescr }}</p>
							      </div>
							            <!-- prefer top 5: skills, top 5 tools -->
							            <div class="form-group">
								            <label>Skills/Tools/Responsibilities:</label>
								            <div>
								              <ul class='skls-tls-resps-lst'>
								                  <li data-ng-repeat='skill in listing.skills' data-ng-bind="skill"></li>
								                  <li data-ng-repeat='tool in listing.tools' data-ng-bind="tool"></li>
								                  <li data-ng-repeat='resp in listing.responsbilities' data-ng-bind="resp"></li>
								              </ul>
								            </div>
							            </div>
							            <div class="form-group clear-both" data-ng-hide="{{listing.degree === null || listing.degree === undefined}}">
								            <label>Education/Degree:</label>&nbsp;&nbsp;<span data-ng-bind="listing.degree"></span>
							            </div>
							            <div class="form-group" data-ng-hide="{{listing.employmentEligibility === null || listing.employmentEligibility === undefined}}">
							            	<label>Employment Eligibility:</label>
							            	<span data-ng-bind="listing.employmentEligibility"></span>
							            </div>
							            <div class="form-group" data-ng-hide="{{listing.teamStructureExpertise === null || listing.teamStructureExpertise === undefined}}">
								            <label title='Please note that numbers could change.'>Team Structure/Expertise<sup title='Please note that numbers could change.'>(*)</sup>:</label>
								            <p data-ng-bind="listing.teamStructureExpertise"></p>
							            </div>
							            <div class="form-group" data-ng-hide="{{listing.projectWorkflow === null || listing.projectWorkflow === undefined}}">
								            <label>Project Workflow:</label>
								            <ul>
								                <li data-ng-repeat='step in listing.projectWorkflow'>{{step}}</li>
								            </ul>
													</div>
						       </div>
						       <p data-ng-hide="{{listing.companyWebSite === null || listing.companyWebSite === undefined}}">
						       		<label>Company Web Site:&nbsp;&nbsp;</label>
						       		<a href="{{listing.companyWebSite}}" target="_blank" data-ng-bind="listing.companyWebSite"></a>
						       </p>

						      <div class="form-inline">
										<div class="form-group" data-ng-hide="{{listing.locationCompanyOffice === null || listing.locationCompanyOffice === undefined}}">
											<label title="Location of the home office (aka HQ).">Office Location:</label>
											&nbsp;&nbsp;<span data-ng-bind="listing.locationCompanyOffice"></span>											
										</div>
										<div class="form-group" data-ng-hide="{{listing.locationOppWork === null || listing.locationOppWork === undefined}}">
											<label title="Where you'd work. e.g. on-site, remote.">Work Location:</label>
											&nbsp;&nbsp;<span data-ng-bind="listing.locationOppWork"></span>											
										</div>
									</div>
				          <p data-ng-hide="{{listing.notes === null || listing.notes === undefined}}">
			              <label>Notes: </label>&nbsp;&nbsp;{{listing.notes}}
			            </p>	
						     </div>
							</div>
						</div>
	           <!--end job description-->
	   			</div>
				</div>
			</div>
		</article>
		<div data-ng-view></div>
	</div>
</div>
	

	<!--end job listings-->
	<% include footer.ejs %>

<script src='/javascripts/index.ng.js'></script>
	