<% include header.ejs %>
<body>
<!--start job listings-->
	<div class="container">
		<div class="panel panel-primary" id="panel-1">
			<div class="panel-heading">
				<h3 class="panel-title">
				<a href="#collapse-1" data-toggle="collapse" data-parents="panel-1">UI/Front-End App Developer<div class="pull-right"><span class="caret"></span></div></a>

				</h3>
			</div>
			<!--TODO: add "in" class to expand by default-->
			<div id="collapse-1" class="panel-collapse collapse">
				<div class="panel-body">
				content goes here
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-primary" id="panel-2">
			<div class="panel-heading">
				<h3 class="panel-title">
				<a href="#collapse-2" data-toggle="collapse" data-parents="panel-1">C#.NET Developer/Tech Writer<div class="pull-right"><span class="caret"></span></div></a>
				
				</h3>

			</div>
			<div id="collapse-2" class="panel-collapse collapse">
				<div class="panel-body">
				content goes here
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-primary" id="panel-3">
			<div class="panel-heading">
				<h3 class="panel-title">
				<a href="#collapse-3" data-toggle="collapse" data-parents="panel-1">C#.NET Developer<div class="pull-right"><span class="caret"></span></div></a>
				
				</h3>
			</div>
			<div id="collapse-3" class="panel-collapse collapse">
				<div class="panel-body">
				content goes here
				</div>
			</div>
		</div>
	<div style="height:100px;"></div>
	</div>	
	<!--end job listings-->
	<% include footer.ejs %>	
