    <footer>
    <div>
      <p class="columnLeft">
        Copyright &copy; 2015, <a href='http://collaborare.net' target='_blank'>Collaborare Dot Net, LLC</a> 
      </p>
      <p class="columnRight textAlignRight">Site updated on: March 21, 2015 22:04 CDT</p>
    </div>

    <p class="columnSingle">Built with &#9829; by nice, <a href='http://en.wikipedia.org/wiki/MEAN' target='_blank'>MEAN</a> people using: 
      <a href='https://www.mongodb.org/' target='_blank' style='text-decoration:line-through' title='Coming soon in future version!'>MongoDb</a>, 
      <a href='http://expressjs.com/' target='_blank'>ExpressJs</a>, 
      <a href='https://angularjs.org/' target='_blank'>AngularJs</a>, 
      <a href='https://nodejs.org/' target='_blank'>NodeJs</a>!
      Questions?  Please feel free to contact us at: <a href='mailto:jobs@meanstack.org'>jobs@meanstack.org</a><p>
  </footer>
  </body>
</html>
