<!DOCTYPE html>
<html>
  <head>
    <title>MEAN Stack Jobs</title>

    <meta charset="UTF-8">
    <meta name="description" content="MEAN Stack and other job listings by collaborare.net.">
    <meta name="keywords" content="jobs, careers, recruiting, JavaScript, MEANStack, mongodb, expressjs, angularjs, nodejs, javascript">
    <meta name="author" content="Monico Moreno, Collaborare Dot Net, LLC">    
    <meta name="contributor" content="Angela S. Moreno">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src='/javascripts/angular.js'></script>
    <script src="/javascripts/googleAnalytics.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery-ry.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </head>
 <body >

    <header>
        <!-start top navigation-->
        <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sideMenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="sideMenu">
                    <ul class="nav navbar-nav">
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="about">About</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <!--end top navigation-->
        <!--start page banner-->
        <div class="jumbotron">
            <div class="container">
                <h1>MEAN Stack Job Listings</h1>


            </div> 
        </div>
        <!--end page banner-->
        <div >
                <hr class="gradient_one">
                <hr class="gradient_two">
                <hr class="gradient_three">

        </div>
        </div>
    </header>