<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>MEAN Stack Job Listings</title>
	<meta name="description" content="Hello World">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<style type="text/css">

</style>
	

</head>

<body>

	<header>
		<div class="jumbotron">
			<div class="container">
				<h1>The MEAN Stack Listing</h1>
				<h3>Jobs for MEANies</h3>
			</div> 
		</div> 
	</header>
	<div class="container">
	<p class="help-block">Please send us a brief message to inquire about this listing.</p>
	</div>
	<div class="container">
		<form action="">
			<div class="form-group has-feedback">
				<label for="from">From</label>
				<input type="text" id="from" class="form-control input-lg">
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<label for="subject">Subject</label>
				<input type="text" id="subject" class="form-control input-lg">
				<span class="glyphicon glyphicon-tag form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<label for="message">Message</label>
				<textarea id="message" class="form-control"></textarea>
				<span class="glyphicon glyphicon-comment form-control-feedback"></span>
			</div>
		</form>
		<hr>
		
	</div>
	<footer>
		<div class="container">
			<hr>

			<p>
				<small><a href="">Like me</a> On facebook</small></p>
			<p>	<small><a href="">Ask whatever </a> On Twitter</small></p>

		</div> <!-- end container -->
	</footer>
		
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>	
</html>