body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span.hi-lite{
  font-weight: bold;
  background-color: lightyellow;
}

footer{
  width:100%;
  border-top: 1px solid black;
  margin-top:50px;
  padding-top:10px;
}

.banner{
  background-color:darkblue;
  width: 100%;
  color: white;
  padding:20px 12px;
}


.btnContainer{
  margin:auto;
  padding-left:0px;
  background-color:pink;
}

.btnPursue{
  background-color: #f67404;
  font-family: ;
  color:white ;
  border-radius: 3px;
  border: solid 1px #E6B800;
  box-shadow: -1px 1px 1px #f6bd04 inset;
  line-height: 24px;
  width:120px;

}


.btnPursue a{
    color: white ;
    font-weight: bold;

}
.columnLeft{
  clear:both;
  width: 49%;
  min-width: 320px;
  float:left;
}

.columnRight{
  width: 49%;
  min-width: 320px;
  float:left;
  text-align: right;
}


.columnSingle{
  clear:both;
  float:left;
  width: 100%;
}

  .opptitle{
    font-weight:bold;
    color:darkblue;
  }

  .opptitle span{
    margin:0 5px 0 5px;
  }

  article.opp-smry-cntnr{
    border-bottom:1px solid silver;
    padding: 10px;
    margin-bottom: 3px;  
    width:100%;
    float:left;
  }


.listingAlternating{
 background-color:#CCE6FF;
 
}


  section.opp-desc-cntnr{
    float:left;
    width:75%;
  }
  section.opp-actions-cntnr{
    float:right;
    width:20%;
    min-width: 133px;
  }

  label{
    padding-right:.75em;
  }

  ul.skills-lst{
    clear:both;
    width:50%;
    min-width: 200px;
    float:left;
  }

  ul.tools-lst{
    width:50%;
    min-width: 200px;
    float:left;
  }

  .postText{
    font-size: 12px;
  }

  .opp-actions-cntnr p{
    margin-top:5px;
  }